<section class="services">

  <h2>Our Services</h2>
  <p>Officia sunt laborum appellat, minim mandaremus ab occaecat.</p>


    <div class="circles">
        <div class="row circle1">
            <div class="circ"><div></div></div>
            <div>some stuff</div>
            <div></div>
            <div><p>Officia an enim incurreret, ex velit duis multos expetendis.

                O varias nescius a te illum cernantur relinqueret.</p>
            </div>
        </div>
        <div class="row circle2">
            <div class="circ"><div></div></div>
            <div>some stuff</div>
            <div></div>
            <div><p>Officia an enim incurreret, ex velit duis multos expetendis.

                O varias nescius a te illum cernantur relinqueret.</p></div>
        </div>
        <div class="row circle3">
            <div class="circ"><div></div></div>
            <div>some stuff</div>
            <div></div>
            <div><p>Officia an enim incurreret, ex velit duis multos expetendis.

                O varias nescius a te illum cernantur relinqueret.</p></div>
        </div>

    </div>
</section>
